#content{
    display:flex;
}
#leftBox{
    margin:1em;
    background-color:white;
    padding:1em;
}
#rightBox{
    margin:1em;
    background-color:pink;
    padding:1em;
}
#memberSection{
    display:flex;
    align-items:center;
    text-align:center;
    padding:1em;
}
#profilePic{
    width:20em;
    margin:0.5em 2em;
    border: outset 0.5em rebeccapurple;
    box-shadow:12px 12px 12px;
}
#user-box-left{
    background-color:white;
    background-image: url("picturesweb/paper.jpg");
    background-position:left;
    width:15em;
    border: outset 0.3em rebeccapurple;
    text-align:center;
    height:10em;
    font-size:1.1em;
    line-height:1.5em;
    text-shadow: 8px 10px 10px;
    box-shadow:7px 7px 7px;
    font-weight:bold;
}
#user-box-right{
    background-color:white;
    background-image: url("picturesweb/paper.jpg");
    background-position:left;
    width:15em;
    border: outset 0.3em rebeccapurple;
    text-align:center;
    height:10em;
    font-size:1.1em;
    line-height:1em;
    text-shadow: 8px 10px 10px;
    box-shadow:7px 7px 7px;
    font-weight:bold;
}
#leftBox{
    background-color:white;
    background-image: url("picturesweb/back6.jpg");
    background-position:top;
    border: outset 0.4em blueviolet;
    flex:1;
    padding:1em;
    margin:1em;
    box-shadow:5px 5px 5px;
}
#rightBox{
    background-color:white;
    background-image: url("picturesweb/back6.jpg");
    background-position:top;
    border: outset 0.4em blueviolet;
    flex:1;
    padding:1em;
    margin:1em;
    box-shadow:5px 5px 5px;
}
.comment-box{
    background-color:white;
    padding:1em;
    margin:1em;
    display:flex;
    box-shadow:3px 3px 6px;
    border: 0.21em outset grey;
    background-image: url("picturesweb/paper2.jpg");
    background-position:left;
    align-items:center;
}
.comment-pic{
    width:6em;
    border: 5px solid black;
}
.comment-text{
    background-color:white;
    border:2px inset grey;
    margin:0 1em;
    padding:0.5em;
    text-shadow:3px 6px 15px;
}
.music-icon{
    width:1em;
    height:1em;
    padding-right:0.5em;
}
.comment-pic:hover{
    border: 5px solid white;
}
 .comment-box:hover{
    color:blue;
    font-weight:bold;
}
#writeArea{
    background-color:white;
    background-image: url("picturesweb/back6.jpg");
    background-position:top;
    border: outset 0.4em blueviolet;
    padding:1em;
    margin:1em;
    box-shadow:5px 5px 5px;
}
#writingSection{
    background-color:white;
    background-image: url("picturesweb/paper.jpg");
    background-position:left;
    border: 0.21em outset grey;
    display:flex;
}
#writingLabel{
    flex:1;
    text-align:center;
    font-weight:bold;
    font-size:1.1em;
    margin:0.5em;
    padding:1em;
    border: 0.21em outset grey;
}
#writingText{
    flex:5;
    background-color:white;
    margin:0.5em;
    padding:1em;
    border: 0.21em outset grey;
    display:flex;
    background-image: url("picturesweb/paper.jpg");
    background-position:left;
}
#writeComment{
    width:30em;
    height:2em;
    border: 0.3em inset grey;
}
