*{
    margin: 0;
    padding: 0;
} 
body{
    background-image: url("picturesweb/back10.jpg");
}
.logo{
 
    background-image: url("picturesweb/music24.png");
    background-position:center;
    background-color:black;
    background-size: cover;
    margin-top: 20px;
    border: 1px solid rgb(211, 211, 211);
}
.logotitle{
    padding: 20px;
    color: rgb(32, 16, 250);
    font-weight: bold;
}
.log{
    margin-right: 20px;
}
.nav-item{
    color:white;
    font-weight:bold;
    background-color:black;
    border-radius:10px;
    margin:0.1em;
    border: 0.25em outset grey;
    background-image: url("picturesweb/texture7.jpg");
    background-position:bottom;
    text-shadow:7px 7px 10px black;
}
/* this is navbar */
.nav-link{
    color:white;
}
.nav-item:hover{
    color:white;
    background-image:url("picturesweb/back7.jpg");
}
.nav-link:hover{
    /* color:white; */
    background-image:url("picturesweb/back7.jpg");
}
.nav{
    border:0.2em inset grey;
    border-radius:10px;
    box-shadow: 5px 5px 5px;
}
.nav-item .dropdown-item{
    font-size:1.2em;
    font-weight:bold;
    text-shadow:none;
    background-color:aliceblue;
}
.nav-item .dropdown-item:hover{
    color:white;
    background-color:black;
    font-size:1.3em;
}

.col-md-12 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-md-12 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.jumbotron{
    background-image: url("picturesweb/musician11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px gray;
    box-shadow: 5px 5px gray;
}
.col-md-4 a{
    margin-bottom: 20px;
}
.col-md-12{
    border: solid 2px gray;
    box-shadow: 5px 5px gray;
    color: white;
}
.visitor{
    color: pink;
}
.tab-content{
    color:pink;
    border-left: gray solid 3px;
}

footer{
    margin-top: 50px;
    color: white;
}
